profiles {

  docker_local {

    process.executor = 'local'
    process.container = 'isophya-course:0.1'
    docker.enabled = true

    workDir = 'work'

    process {
      withName: 'call_genotypes' {
        cpus = 8
        memory = '32 GB'
      }
      withName: 'pcangsd_pipeline' {
        cpus = 8
        memory = '32 GB'
      }
    }

    docker.runOptions = """
      -v ${baseDir}/../data:/data:ro
      -v ${baseDir}/../scripts:/workspace/scripts:ro
      -v ${baseDir}/../results:/results:rw
      -w /workspace
    """
  }

  kuacc_apptainer {

    process.executor = 'slurm'
    workDir = '/scratch/$USER/nextflow-work'

    process.container = '/home/iksaglam/oulu/isophya-course_0.1.sif'

    singularity.enabled = true
    singularity.autoMounts = false

    process {
      withName: 'call_genotypes' {
        cpus = 8
        memory = '32 GB'
        time = '8h'
        clusterOptions = '--partition=short'
      }
      withName: 'pcangsd_pipeline' {
        cpus = 8
        memory = '32 GB'
        time = '8h'
        clusterOptions = '--partition=short'
      }
    }

    singularity.runOptions = """
      --bind /home/iksaglam/oulu/data:/data:ro
      --bind /userfiles/utopalan22/isophya/new_bams:/data/bams:ro
      --bind /userfiles/utopalan22/isophya/references:/data/ref:ro
      --bind /home/iksaglam/oulu/results:/results
      --bind /home/iksaglam/oulu/scripts:/workspace/scripts:ro
      --pwd /workspace
    """
  }

}
